# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Kibi.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Unity Projects\Kibi\.idea\.idea.Kibi\.idea/dataSources/
/dataSources.local.xml
